
<div class="card" style="width: 40rem;">
  <div class="container">
      <h3>マイページ</h3>
      <table class="table">
        <tr>
          <th>名前</th>
          <th><%= @user.name %></th>
        </tr>
        <tr>
          <th>メール</th>
          <th><%= @user.email %></th>
        </tr>
        <tr>
          <th></th>
          <th><%= link_to '編集する', edit_user_path(@user.id), class: "btn btn-secondary" %></th>
        </tr>
      </table>
  </div>
</div>
